.venv
.idea/
.env
placement-portal-frontend/.vscode
placement-portal-backend/.vscode
placement-portal-backend/.env
placement-portal-backend/.venv
placement-portal-backend/.idea
placement-portal-backend/__pycache__/
placement-portal-backend/instance/
placement-portal-frontend/.env
placement-portal-frontend/node_modules/
placement-portal-frontend/dist/
placement-portal-frontend/.idea
.vscode
__pycache__/
*.pyc
instance/
.env
*.sqlite3
.DS_Store
coverage
htmlcov/
.tox/
.nox/
pytest_cache/
.pytest_cache/
cover/age.xml
*.egg-info/
dist/
build/
README.md.local
placement-portal-frontend/node_modules/
placement-portal-frontend/dist/
placement-portal-frontend/.env
placement-portal-backend/__pycache__/
placement-portal-backend/*.pyc
placement-portal-backend/instance/
placement-portal-backend/.venv/
placement-portal-backend/.env
placement-portal-backend/coverage/
placement-portal-backend/htmlcov/
placement-portal-backend/.tox/
placement-portal-backend/.nox/
placement-portal-backend/pytest_cache/
placement-portal-backend/cover/
placement-portal-backend/.pytest_cache/
placement-portal-backend/*.egg-info/
placement-portal-backend/dist/
placement-portal-backend/build/
placement-portal-backend/README.md.local
placement-portal-backend/